.blockWrapper {
  width: 100%;
  padding: 6.4rem 8.0rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  padding-top: 220px;
}

.orderTitle {
  font-size: 6.4rem;
  font-weight: 300;
}

.order_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 6.4rem;
}

.orderInfo {
  display: flex;
  flex-direction: column;
  gap: 4.6rem;
}

.fieldsList {
  width: 100%;
  gap: 2.2rem;
  display: flex;
  flex-direction: column;
}

.fieldsBlockTitle {
  font-size: 2.6rem;
  text-transform: uppercase;
}

.fieldsRow {
  width: 100%;
  gap: 1.2rem;
  display: flex;
}

.fieldsRowSelect {
  margin-top: 2rem;
  width: 100%;
  gap: 1.2rem;
  display: flex;
}

.selectItem {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1.6rem;
  background: #FFFFFF;
  -moz-appearance: textfield;
  appearance: textfield;
  border: none;
  cursor: pointer;
}

.deliverySelected {
  outline: 2px solid black;
  font-weight: 600;
}

.cartItemsList {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.cartItemsDivider {
  width: 100%;
  height: 1px;
  background: #00000020;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageInfo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2.2rem;
}

.imageWrapper {
  position: relative;
  width: 8.6rem;
  height: 8.6rem;
  overflow: hidden;
  border-radius: 4px;
}

.itemInfo {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 2.2rem;
}

.itemPrice {
  text-wrap: nowrap;
}

.totalPrice {
  font-size: 2.6rem;
}

.totalPriceCents {
  font-size: 2.2rem;
}

.submitButton {
  background: #000000;
  color: #FFFFFF;
  border-radius: 0;
  border: none;
  cursor: pointer;
  padding: 22px;
  font-family: 'Averta CY', sans-serif;
  font-size: 1.8rem;
  transition: .2s all;
}

.submitButton:active {
  transform: scale(0.97);
}


.contactItem {
  justify-content: center;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 44px;
  padding: 0 22px;
}

.contactItem:hover {
  text-decoration: none;
}

.contactItem:first-child {
  background: rgba(255, 255, 255, 1);
  border: 1px solid #000000;
  color: rgba(0, 0, 0, 1);
}

.contactItem:last-child {
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

.address {
  font-family: 'Suisse Intl', sans-serif;
  font-size: 16px;
  font-weight: 450;
  line-height: normal;
  color: rgba(255, 255, 255, 1);
}



.detailsRow {
  display: flex;
  justify-content: space-between;
  font-size: 2.2rem;
}

.detailsRowValue {
  font-weight: 500;
}

.deliveryList {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.deliveryType {
  font-size: 1.6rem;
  padding-bottom: 1.2rem;
}

.delivery {
  cursor: pointer;
  display: flex;
  width: fit-content;
  text-wrap: wrap;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.4rem;
  padding: 1.0rem 2.2rem;
  border: 0.1rem solid #3C5F3B20;
  opacity: 0.8;
  border-radius: 2.2rem;
}

.delivery.selected {
  border: 0.1rem solid #3C5F3B;
  opacity: 1;
}

.pay {
  padding: 2.2rem;
  background: #3C5F3B;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 1.6rem;
  text-align: center;
  transition: 300ms;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .blockWrapper {
    padding-top: 60px;
  }
}

@media (max-width: 768px) {
  .blockWrapper {
    margin-top: 8.4rem;
    padding: 2.4rem;
  }

  .order_wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 2.2rem;
  }

  .imageWrapper {
    position: relative;
    width: 6.4rem;
    min-width: 6.4rem;
    height: 6.4rem;
    overflow: hidden;
  }

  .itemName {
    font-size: 1.8rem;
  }

  .itemPrice {
    font-size: 1.6rem;
  }

  .itemInfo {
    gap: 0.0rem;
  }

  .imageInfo {
    gap: 1.6rem;
  }

  .title {
    font-size: 2.6rem;
    font-weight: 400;
  }

  .cartItemsList {
    padding-bottom: 2.2rem;
  }

  .detailsInfoList {
    display: none;
  }

  .mobileDetailsInfoList {
    display: flex;
  }

  .detailsRow {
    font-size: 1.8rem;
  }

  .fieldsRow {
    flex-direction: column;
  }
}