.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    padding: 2.4rem;
    text-decoration: none;
    color: inherit;
    transition: 400ms;
    overflow: hidden;
    border: none;
    text-align: left;
    min-height: 200px;
    height: 100%;
    width: 100%;
}

.card:hover {
    text-decoration: none !important;
    transform: translateY(-0.4rem);
    /* box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.08); */
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    position: relative;
    z-index: 2;
    text-align: left;
    height: 100%;
    flex: 1;
}

.cardData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.cardTitle {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.title {
    font-size: 1.8rem;
    font-weight: 400;
    color: #000000;
    text-transform: none;
    letter-spacing: 0;
    margin: 0;

    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: 'ellipsis';
}

.desc {
    font-size: 1.8rem;
    font-weight: 400;
    color: #000000;
    text-transform: none;
    letter-spacing: 0;
    margin: 0;

    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: 'ellipsis';
}

.imageWrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1;
    margin-top: auto;
    overflow: hidden;
    min-height: 120px;
}

.carImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 300ms;
}

.card:hover .carImage {
    transform: scale(1.05);
}

.price {
    width: 100%;
    font-size: 2.2rem;
}


.cents {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
}

.cartButton {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid black;
    transition: .3s ease;
}

.cartButton svg {
    transition: .3s ease;
}

.cartButton:hover {
    transform: scale(1.05);
}

.cartButton:hover svg {
    transform: scale(1.2);
}

@media (max-width: 560px) {
    .card {
        padding: 1.6rem;
        min-height: 0;
    }

    .title {
        font-size: 1.6rem;
    }
}